.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-item {
    text-align: center;
    background-color: aqua;
}

@media screen and (max-width: 635px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 270px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}