@font-face {
  font-family: montserratBold;
  src: url("assets/fonts/Montserrat-Bold.otf");
}

@font-face {
  font-family: montserratMedium;
  src: url("assets/fonts/Montserrat-Medium.otf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

